{% extends "layout.html" %}

{% block title %} Email {% endblock %}


{% block style %}
<style>
    .table-tr:hover {
        cursor: pointer;
        --bs-table-striped-bg: Lavender;
        --bs-table-bg: Lavender;
    }
</style>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col"><h3><b>Sent Email</b></h3></div>
            <div class="col text-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">New Mail</button>
            </div>
        </div>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th scope="col" style="width:5%">#</th>
                        <th scope="col" style="width:15%">Sent Date</th>
                        <th scope="col" style="width:20%">To</th>
                        <th scope="col" style="width:auto;">Subject</th>
                        <th scope="col" style="width:8%; text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in emails %}
                        <tr data-bs-toggle="modal" data-bs-target="#emailModalSetting{{forloop.counter}}" class="table-tr">
                            <td>{{forloop.counter}}</td>
                            <td>{{email.create_date}}</td>
                            <td>{{email.email_address}}</td>
                            <td>{{email.subject}}</td>
                            <td style="text-align: center;">
                                <a href="{% url 'emailDelete' email.id %}"><span class="material-icons" style="color:red;">delete_outline</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>

    <!-- Modal Create -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel"><b>Create Email List</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="InputToEmail" class="col-sm-1 col-form-label"><b>To : </b></label>
                            <div class="col-sm-11">
                                <input type="email" class="form-control" id="InputToEmail" name="email_reply" placeholder="ถึง" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="InputSubject" class="col-sm-1 col-form-label"><b>Subject : </b></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="InputSubject" name="subject" placeholder="เรื่อง" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="InputEmailDetail" class="col-sm-1 col-form-label"><b>Detail : </b></label>
                            <div class="col-sm-11">
                                <textarea class="form-control" id="InputEmailDetail" name="detail" placeholder="รายละเอียด" rows="6" autocomplete="off" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for email in emails %}
    <!-- Modal Setting -->
    <div class="modal fade" id="emailModalSetting{{forloop.counter}}" tabindex="-1" aria-labelledby="SettingModalLabel{{forloop.counter}}" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SettingModalLabel{{forloop.counter}}"><b>EMAIL</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <label for="SettingEmail{{forloop.counter}}" class="col-sm-1 col-form-label"><b>To :</b></label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="SettingEmail{{forloop.counter}}" name="setEmail" placeholder="หัวข้อ"
                               autocomplete="off" required readonly value="{{email.email_address}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="SettingEmailSubject{{forloop.counter}}" class="col-sm-1 col-form-label"><b>Subject : </b></label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="SettingEmailSubject{{forloop.counter}}" name="setSubject" placeholder="หัวข้อ"
                           autocomplete="off" required readonly value="{{email.subject}}">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="SettingEmailDetail{{forloop.counter}}" class="col-sm-1 col-form-label"><b>Detail : </b></label>
                        <div class="col-sm-11">
                            <textarea class="form-control" id="SettingEmailDetail{{forloop.counter}}" name="setDetail" placeholder="รายละเอียด"
                              autocomplete="off" rows="6" readonly required>{{email.detail}}</textarea>
                        </div>
                    </div>
                    <div class="text-end">
                        <small>Sent date : {{email.create_date}}</small><br>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}
